//
//
//var 2019/1/21
//--------------------------------------------------------------

$mainname:lower;

$border-radius:3px;
$color-base: #108cee;
$color-primary: #108cee;
$color-success: #67c23a;
$color-info: #909399;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$input-fill:#fff;
$input-border-radius:$border-radius;
$input-border:1px solid #dcdfe6;
$input-color:#606266;
$input-height:34px;
$input-placeholder-color:#c0c4cc;
$input-hover-border:#c0c4cc;
$input-focus-border:#409EFF;
$border-transition-base:border-color .2s cubic-bezier(.645, .045, .355, 1);
$form-line-height-base:34px;
$form-item-margin-bottom:15px;
