@import './variable';
@import './mixin';
.#{$mainname}-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;

  &__inner {
    -webkit-appearance: none;
    background-color: $input-fill;
    background-image: none;
    border-radius: $input-border-radius;
    border: $input-border;
    box-sizing: border-box;
    color: $input-color;
    display: inline-block;
    font-size: 14px;
    height: $input-height;
    line-height: $input-height;
    outline: none;
    padding: 0 10px;
    transition: $border-transition-base;
    width: 100%;
    &::placeholder {
      color: $input-placeholder-color;
    }

    &:hover {
      border-color: $input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $input-focus-border;
    }
  }

  &--prefix &__inner {
    padding-left: 30px;
  }
  &--suffix &__inner {
    padding-right: 30px;
  }
  &-group &__inner {
    vertical-align: middle;
    display: table-cell;
  }

  &__prefix,
  &__icon {
    height: 100%;
    text-align: center;
    transition: all 0.3s;
  }

  &__icon {
    width: 25px;
    line-height: $input-height;
    font-size: inherit;
    @include vertical-center();
  }

  &__prefix {
    position: absolute;
    left: 5px;
    top: 0;
    color: #c0c4cc;
  }

  &__suffix {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    transition: all 0.3s;
    pointer-events: none;
  }

  &-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    &__prepend,
    &__append {
      background-color: #f5f7fa;
      color: #909399;
      vertical-align: middle;
      display: table-cell;
      position: relative;
      border: 1px solid #dcdfe6;
      border-radius: 4px;
      padding: 0 20px;
      width: 1px;
      white-space: nowrap;
      &--noborder & {
        border: none;
      }
      &--right {
        text-align: right;
      }
    }
  }
}
